.header {
    height: 100vh;
    background-image: url(../img/hero-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .greeting {
        padding-top: 25%;

        &__content {
            font-weight: 400;
            font-size: 24px;
            
            &-title {
                font-family: $font-LondrinaShadow;
                font-weight: 400;
                font-size: 40px;
                line-height: 1.5;
                margin-bottom: 20px;

                animation: moveInLeft 1s ease-out;

                @media only screen and (max-width: 600px) { // name break on mobile
                    span {
                        @include break
                    }
                }
            }

            &-text{
                font-size: 20px;
                font-weight: 400;

                animation: moveInRight 1s ease-out;

                .special-text {
                    color: $color-secondary;

                    animation:blinkingText 1.5s infinite;
                }
            }

            @media only screen and (min-width: 550px) { // show nav list on larger screens
                padding-bottom: 40px;
            }
            
        }

        @media only screen and (min-width: 550px) { // show nav list on larger screens
            padding-top: 10%;

            &_content {
                font-weight: 400;
                font-size: 54px;
                
                &-title {
                    font-size: 60px;
                }
    
                &-text{
                    font-size: 26px;
                }
            }
        }
    } // .greeting

    .arrow-container {
        display: inline-block;
        background-image: url(../img/arrow.png);
        background-size: cover;
        height: 120px;
        width: 90px;

        animation: moveInTop 1s ease-out;
       
        &:hover {
            transform: scale(1.05);
        }

        @media only screen and (max-width: 600px) { // hide arrow on smaller screens
            display: none;
        }
        
    } // .arrow-container
}